:root {
	--container-width: 1350px;
	--container-padding: 15px;
	 

	--font-main: 'Nunito Sans',sans-serif;

	--page-bg: #fff;
	--text-color: #000;
	--accent: #4f8ff0;


    --laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;
}

@media (max-width: 959px) {
	:root {
		--container-width: 726px;
	}
}

@media (max-width: 599px){
	:root {
		--container-width: 374px;
	}
}

.dark {
    --page-bg: #252526;
    --text-color: #fff;
}