.about {
  padding: 80px 0 96px;

  @include tablet {
    padding: 60px 0;
  }

  @include mobile {
    padding: 40px 0;
  }
}

.about__container {
  display: flex;
  align-items: center;
  gap: 65px;
}
.about__info {
  max-width: 720px;

  @include tablet {
    max-width: 100%;
  }
}
.about__title {
  font-weight: 800;
  font-size: 28px;
  line-height: 150%;
  text-transform: uppercase;
  color: #222;

  span {
    font-weight: 900;
    color: var(--accent);
  }

  margin-bottom: 10px;

  @include tablet {
    font-size: 24px;
  }

  @include mobile {
    font-size: 20px;
  }
}
.about__block {
  width: 50px;
  height: 3px;
  background: var(--accent);
}
.about__desc {
  text-wrap: wrap;

  margin-top: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #222;

  display: grid;
  gap: 25px;

  margin-bottom: 48px;
}
.about__btns {
  display: flex;
  align-items: center;
  gap: 24px;

  @include mobile {
    flex-direction: column;
  }
}
.btn {
}
.about__img {
  @include tablet {
    display: none;
  }
}
