.btn {
  display: inline-block;
  background-color: var(--accent);
  padding: 16px 24px;

  font-weight: 900;
  font-size: 14px;
  line-height: 120%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;

  &:hover {
    padding: 14px 22px;
    color:  var(--accent);
    background: #fff;
    border: 2px solid var(--accent);
  }
}

.btn--gray {
  background: #e6e6e6;
  color: #222;

  &:hover {
    padding: 14px 22px;
    color: #222;
    background: #fff;
    border: 2px solid #e6e6e6;
  }
}
