.modal-registration {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(1, 1, 1, 0.9);
  z-index: 10;
}
.registration {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.card-registration {
  position: relative;
}
.card-registration__card {
  background: #f7f7f7;

  padding: 20px 50px;
  border-radius: 10px;

  @include tablet {
    padding: 15px 30px;
    width: 530px;
  }

  @include mobile {
    padding: 10px 10px;
    max-width: 300px;
  }
}
.card-registration__info {
  font-weight: 800;
  font-size: 20px;
  line-height: 150%;
  text-transform: uppercase;
  color: #222;

  // padding: 10px 0px;
  text-align: center;

  @include tablet {
    font-size: 16px;
  }

  @include mobile {
  }
}
.card-registration__name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  text-align: center;
  font-weight: 300;
  font-size: 16px;
  line-height: 120%;
  text-transform: uppercase;
  color: #000000;

  padding: 20px 0;
  p {
    width: 150px;
  }

  @include tablet {
    font-size: 14px;
  }

  @include mobile {
    flex-direction: column;
  }
}

.card-registration__input {
  padding: 16px 24px;
  border: 1px solid var(--accent);
  border-radius: 10px;

  flex-grow: 1;

  &:focus {
    background-color: #fff;
  }

  @include mobile {
  }
}
.card-registration__phone {
}
.card-registration__btn {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;

  @include mobile {
    flex-direction: column;
  }
}
