.swiper-services {
  .swiper {
    width: 100%;
  }
  .swiper-slide {
    width: 250px;
    height: 285px;
  }
}

.swiper-lawyer {
  .swiper {
    width: 100%;
  }
  .swiper-slide {
    width: 290px;

    @include mobile {
      width: 250px;
    }
  }
}

.swiper-reviews {
  .swiper {
    width: 100%;
  }
  .swiper-slide {
    width: 648px;

    @include mobile {
      width: 300px;
    }
  }
}
